.heading 
{
    font: 400; 
    color: white;

   
}

#box{
    width: 50%;
    margin-left: 40%;
}
#punchbox
{
    width: 50%;
    margin-left: 43%;
}

.punchline
{
    color: white;

    
}
*{
    background-color: blue;
    
  }
  img
  {
    width: 100;
    
  }